*.log
composer.phar
*.bin
*.settings
.project
*db.php
*.komodoproject
/nbproject/private/
/.komodotools/
*.xml
*.properties
nbproject/
/.idea/
protected/config/db.php
/protected/runtime/debug/*
protected/runtime/debug/index.data
/protected/runtime/debug/index.data
*/_log
/tests/tests/_log/
*.*~
*.yml
!.teatro.yml
!*.dist.yml
/.vagrant/
Vagrantfile

